/* colors */
$text: #4f4f4f;
$title: #333;
$accent: #f29e60;
$accent-bright: #fa8532;
$bg1: #fff7ec;
$bg2: #eff4e5;
$accent2: #b0cb6c;

$tabs1: #f5d5b5;
$tabs2: #dce7c1;
$tabs3: #d5d0dc;

$footer-bg: #242424;

/* end of colors */

/* fonts */
$Rubik: "Rubik", sans-serif;

/* end of fonts */

$content-width: 1320px;
