.container.footer-container 
	.footer__info.footer-info 
		.footer-info__logo
			img(src="./img/header/logo.png", alt="")
		.footer-info__copy 
			| &copy; 2022 все права защищены
		.footer-info__links
			a(href="#") Оферта 
			a(href="#") Политика конфеденциальности 
	.footer__contacts.footer-column
		.footer-column__title Контакты
		span Юридический адрес
		| 123123123, Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ex explicabo minima, rem deserunt ab non nostrum mollitia.
	.footer__requisites.footer-column
		.footer-column__title Реквезиты
		p ООО "ААА"
		p ИНН 345646456456
		p КПП 456456456456
		p ОГРН 57877567567
	.footer__in-touch.footer-column
		.footer-column__title МЫ НА СВЯЗИ
		a(href="tel:823492934923") +7(324)23423424
		a(href="maailto: asdasd@mail.ru") info@tra-ta-ta.ru
		a(href="https://vk.com/")
			img(src="./img/footer/vk-icon.svg", alt="")